body {
  max-width: 750px;
  color: #fff;
  font-family: sans-serif
}

a,
a:visited {
  color: #7fffd4
}

a:hover {
  color: #7fffd4;
  text-decoration: underline;
  border-bottom: 0
}

header {
  display: flex;
  justify-content: space-between
}

header div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end
}

#title {
  margin-top: 0;
  margin-bottom: 0
}

#title a {
  color: #fff
}

#posts {
  list-style: none;
  padding-left: 0
}

h1 {
  margin-top: 0;
  margin-bottom: 5px
}

p {
  margin-bottom: 5px
}

#theme-toggle {
  width: 18px;
  margin-left: 5px;
  cursor: pointer
}

#post-header {
  margin-bottom: 15px
}

button {
  background-color: #7fffd4;
  color: #000;
  border: 0px;
}

button:hover, button:focus {
  background-color: #65cca9 !important;
}
