::-moz-selection {
  background: #42a5f5 !important;
}

::selection {
  background: #42a5f5 !important;
}

html.dark a, a:hover {
  color: #42a5f5;
  text-decoration: none;
  border-bottom: 0px;
}

.site-description a {
  color: #42a5f5 !important;
  text-decoration: none !important;
  border-bottom: 0px !important;
}

.header nav li a svg {
  max-height: 18px;
}

.footer {
  display: none;
}